
*{
    padding: 0;
    margin: 0;
    box-sizing: border border-box;
}

.cuerpo{
    background-color: antiquewhite;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Macondo', cursive;
    font-family: 'Roboto', sans-serif; ;
 }